.card-img,
.card-img-bottom,
.card-img-top {
  height: 158px;
}
.addtocart-logo {
  font-size: 30px;
  display: flex;
  justify-content: flex-end;
}

.inner-text {
  display: flex;
  flex-direction: row;
}

h2 {
  display: flex;
  justify-content: center;
  color: rgb(243, 125, 208);
  padding: 20px;
  font-family: "Fredoka One", cursive;
}

.save {
  color: green;
}

.button {
  margin-left: 20px;
  transition: transform 0.2s;
}

.button:hover {
  transform: scale(1.2);
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.card {
  /* box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22); */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
