card {
  display: block;
  position: relative;
  height: 230px;
  width: 250px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
  text-align: center;
  background-color: palegoldenrod;
  margin-bottom: 20px;
  --color: #f0ce3a;
  --hover: #94e458;
  border-color: var(--color);
  border: 3px solid var(--color);
  
}

card:hover,
card:focus .img-text{
  box-shadow: 0 0.8em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
  border-color: var(--hover);
  color: #fff;
}

tag {
  display: block;
  padding: 8px 14px;
  position: absolute;
  right: -14px;
  bottom: 12px;
  background-color: #c6fcff;
  color: rgb(1, 57, 211);
  border-top-right-radius: 7px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

tag::after {
  display: block;
  content: "";
  height: 14px;
  width: 14px;
  position: absolute;
  background-color: rgb(120, 189, 245);
  right: 0;
  bottom: -14px;
  border-bottom-right-radius: 14px;
}

wrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-left: 40px;
}

.offers-image {
  width: 200px;
  height: 200px;
  cursor: pointer;
}

.img-text {
    position: absolute;
    top: 10px;
    right: 0px;
    background: rgba(0, 0, 0, 0.65);
    border-top-left-radius: .5em;
    border-bottom-left-radius: .5em;
    color: white;
    opacity: 0;
    -webkit-transition: visibility 0s, opacity 0.5s linear;
    transition: visibility 0s, opacity 0.5s linear;
  }

  .img-text:hover {
      padding: 8px 15px;
      visibility: visible;
      opacity: 1;
  }